/*header text*/
		h2{
			color: #8a7300;
			text-align: center;
		}
/*body*/
		body{
			font-family: Lucida Sans Typewriter, Arial, sans-serif;
			padding-top: 70px;
		}
/*logo*/		
		.logo{
			/*width: 320px;*/
			margin: 0 auto;
			
		}
/* chat bar */
		#chattext {
		  text-align: center;
		  margin-top: 15px;
		  margin-left: 10px;
		  position:fixed;
		  bottom: 0px;
		  background-color:white;
		}
		
		textarea#chatbox{
			background: center center no-repeat; /* This ruins default border */
			border: 1px solid #1e3c00;
		}

		form#chatform {
		  margin: 0px;
		  text-align: center;
		}

		input#chatbox {
	      /*width: 85%;*/
		  border: none;
		  height: 60px;
		  font-size: 1.8em;
		  color: #494d4e;
		  border: 1px double #1e3c00;
		  border-radius: 10px;
		  border-width: 4px;
		  padding: 7px;
		}

/* sidebar nav*/ 
		.logo {
				background-color: #3d3d3d;
			}
		@media (min-width: 268px) {
			.logo {
				background-color: #3d3d3d;
			}
			#navbar {
				background-color: #3d3d3d;
			}
		}
		@media (min-width: 320px) {
			.logo {
				background-color: #3d3d3d;
			}
			#navbar {
				background-color: #3d3d3d;
			}
		}
		@media (min-width: 768px) {
		  /* uncomment if you would like the menu to be fixed */
		  /*.navbar {
			  position: fixed;
			  width: 265px;
			  z-index: 2;
		  }*/
		  	.logo {
				background-color: #3d3d3d;
			}
			#navbar {
				background-color: #3d3d3d;
			}
		}
		@media (min-width: 970px) {
			.logo {
				background-color: #3d3d3d;
			}
			#navbar {
				background-color: #3d3d3d;
			}
		}
		@media (min-width: 1920px) {
			.logo {
				background-color: #3d3d3d;
			}
			#navbar {
				background-color: #3d3d3d;
			}
		}
		
/* require products*/
		article.product {
		  width:60%;
		  height:60%;
		  background-position:center;
		  background-repeat: no-repeat;
		  margin-bottom: 20px;
		  margin-top: 25px; 
		  margin-right: 15px;
		  margin-left: 15px;
		  border: 20px solid #1e3c00;
		  border-radius: 10px;
		  border-width: 2px;
		}

		.product p {
		  text-align: left;
		  margin: 0px;
		  
		}

		.product_image img{
		  height: 100px;
		  text-align: left;
		  position: left;
		}
		
		.product_title {
		  font-size: 1.7em;
		  line-height: 20pt;
		  position: left;

		}
		.product_price {
		  font-size: 2.0em;
		  line-height: 20pt;
		  background-position: left;

		}

		.product_title a:active,
		.product_title a:link  {
		  text-align: center;
		  color: #8a7300;
		}
		.product_title a:visited{
			text-align: center;
			color: #1e3c00;
		}

		.product_title, .product_image {
		  display: inline;
		  text-align: center;
		}
/*chat messages*/
		.message_request{
			  width:70%;
			  height:20%;
			  background-repeat: no-repeat;
			  margin-bottom: 10px;
			  margin-top: 15px; 
			  margin-right: 15px;
		      margin-left: 15px;
			  border: 20px dashed #8a7300;
			  border-radius: 10px;
			  border-width: 3px;
			  background-color: #458a00;
			  color: #c2c2c2;
			}

		.message_request_text p {
			text-align: left;
			margin: 0px;
		}
		
		.message_request_text {
			font-size: 1.7em;
			line-height: 20pt;
			text-align: left;

		}
		
		.message_date_request{
			font-size: 0.7em;
			line-height: 20pt;
			text-align: right;
		}
		
		.message_response {
			  width:70%;
			  height:20%;
			  background-repeat: no-repeat;
			  margin-bottom: 10px;
			  margin-top: 15px; 
			  margin-right: 15px;
		      margin-left: 15px;
			  border: 20px dotted #c2c2c2;
			  border-radius: 10px;
			  border-width: 3px;
			  background-color: #3d3300;
			  color: #c2c2c2;
			}

		.message_response_text p {
			  text-align: left;
			  margin: 0px;
		}
		
		.message_response_text {
			font-size: 1.7em;
			line-height: 20pt;
			text-align: left;

		}
		
		.message_date_response{
		    font-size: 0.7em;
		    line-height: 20pt;
			text-align: left;
		}
		